.idea
**/.idea
.vscode
**/.vscode
__pycache__/
.env
**/.env
*.pyc
.cache/
*/.cache/
.DS_Store
**/data
**/*.jpg
**/__pycache__
**/*.pyc
**/logs
**/log
**/model*
**/checkpoint
**/samples
**/sample
**/out
**/mnist
**/MNIST
